workDir = "/users/user09/work"

params {
fastq="../data/*_{1,2}.fastq.gz"
chr19="../data/chr19.fa"
chr19Folder = "../data"
outdir="./output"
sif="/users/user09/nextflow/sif/trimmomatic.sif"
}

process {
 withName: 'FASTQC' {
   cpus = 2
   memory = 2.GB
   time   = 1.h
 }
 withName: 'TRIMMOMATIC' {
   cpus = 2
   memory = 5.GB
   time   = 2.h
 }

 withName: 'BWA' {
   cpus = 2
   memory = 7.GB
   time   = 2.h
 }
 withName: 'SAM_TO_BAM' {
   cpus = 2
   memory = 5
   time   = 1.h
 }
 withName: 'VAR_CAL' {
   cpus = 2
   memory = 8.GB
   time   = 2.h
 }
}

profiles {
 local {
   process.executor = 'local'
 }
 slurm {
   process.executor = 'slurm'
   process.queue = 'Main'
 }
}
